/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #84a7a1;
  --secondary-color: #a0c49d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
}

.hero {
  text-align: center;
  background: url(/portfolio-project/img/main-image.jpg) bottom center no-repeat;
  padding: 320px 20px;
}

.hero h1 {
  color: white;
  font-size: 100px;
  letter-spacing: 3px;
}

.hero h2 {
  color: white;
  font-size: 28px;
  font-weight: 400;
  margin: 12px;
}

.hero p {
  color: white;
  font-size: 25px;
}

.primary-button {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
}

.primary-button:hover {
  color: white;
  background: rgb(149, 125, 173, 0.25);
  border: solid 1px var(--theme-color);
}
