/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #5e877c;
  --secondary-color: #eef7f0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  font-size: 64px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  text-align: center;
  padding: 360px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/cover.jpg);
  background-size: cover;
  background-position: center;
}

.hero h1 {
  color: white;
  font-size: 100px;
  letter-spacing: 3px;
}

.hero h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin: 12px;
}

.hero p {
  color: white;
  font-size: 25px;
}

.primary-button {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
}

.primary-button:hover {
  color: black;
  background: #b4cbc4;
  border: solid 1px var(--secondary-color);
}

.secondary-button {
  background: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
}

.secondary-button:hover {
  color: black;
  background: rgb(149, 125, 173, 0.25);
  border: solid 1px var(--primary-color);
}

.navbar {
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  font-size: 18px;
}

.nav-item {
  font-size: 18px;
  padding-left: 30px;
}

.navbar-nav .nav-link.active,
.nav-item:hover .nav-link {
  color: var(--primary-color);
}

.homepage-about {
  justify-content: center;
  padding-top: 80px;
  padding-left: 60px;
}

.name-color {
  color: var(--primary-color);
}

.project-description {
  padding: 40px 60px;
}

.about {
  margin-top: 80px;
}

.about img {
  max-width: 85%;
  vertical-align: middle;
}

.skills p {
  font-size: 36px;
  margin: 0;
}

.projects {
  margin-top: 80px;
}

.projects h1 {
  font-size: 60px;
  padding: 60px 0 40px;
}

.projects img {
  display: block;
  margin: 0 auto;
  max-width: 85%;
}

.contacts {
  text-align: center;
  margin-top: 160px;
}

.contacts h1 {
  font-size: 60px;
}

.contacts p {
  margin-bottom: 50px;
}

.contacts a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}

.contacts a:hover {
  text-decoration: underline;
}

footer {
  margin: 40px 300px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-media-links a {
  font-size: 30px;
  margin: 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-media-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

@media (max-width: 960px) {
  h4 {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 62px;
  }
  .hero {
    padding: 170px 20px;
  }
  .homepage-about {
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
  }
  .homepage-about-me-button {
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .skills {
    text-align: center;
    margin-top: 50px;
  }
  footer {
    margin: 40px 10px;
  }
}

@media (max-width: 1385px) {
  footer {
    margin: 40px 10px;
  }

  footer .contact-box {
    display: none;
    visibility: hidden;
  }
}
